<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li routerLinkActive="active"><a [routerLink]="['/book']">Book</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/currency']">Currency</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/movie']">Movie</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/stock']">Stock</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/weather']">Weather</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/feedback']">Feedback</a></li>
    </ul>
  </div>
</div>